<div>
    {{#with program}}
    <section>
        {{#with excursion}}
        <h1>{{name}}</h1>
        {{/with}}
    <div>
        {{#with excursion}}
            <div>
                <br/><b>citi: </b>{{location.city}}
                <br/><b>country: </b>{{location.country}}
                <br/><b>date: </b>{{date}}
            </div>
            <br>
                <h3>Program</h3>
            <ul>
                {{#each program}}
                <li>
                    <div>
                    <h3>{{name}}</h3>
                    <em>type: </em>{{type}}
                    <br/><em>duration: </em> ({{duration}})
                    </div>
                    <br/>
                     <div>
                            {{#with details.venue}}
                                <b>{{name}}</b>
                                {{#with location}}
                                    <br/><em>address: </em>{{address}}
                                    <br/><em>city: </em>{{city}}
                                    <br/><em>country: </em>{{country}}
                                {{/with}}
                            {{/with}}
                        </div>
                         <br/>
                                {{#each details.performers}}
                                <div>
                                    <ul type="square">
                                        <li>{{name}}</li>
                                        <li>{{type}}</li>
                                        <br/>
                                    </ul>
                                </div>
                                {{/each}}
                        <div>
                            {{#with details}}
                                {{#with museum}}
                                <div>
                                    <b>{{name}}</b>
                                    {{#with location}}
                                        <br/><em>address: </em>{{address}}
                                        <br/><em>city: </em>{{city}}
                                        <br/><em>country: </em>{{country}}
                                    {{/with}}
                                </div>
                                <br/>
                                <div>
                                    <strong>Exhibits:</strong>
                                </div>
                                <br>
                                <ul type="square">
                                    {{#each exhibits}}
                                        <li>
                                           <b>{{name}}</b>
                                        </li>
                                            <div>
                                                {{#if artist}}
                                                    {{artist}}
                                                {{else}} 
                                                {{/if}}
                                            </div>
                                        <em>{{description}}</em>
                                        <br/>
                                        {{#if audio_guide}} {{/if}}
                                        <br/>
                                    {{/each}}
                                </ul>
                                {{/with}}
                                 <br>
                                <div>
                                    {{#with guide}}
                                    quide: <b>{{name}}</b>
                                    <br/> language: <b>{{language}}</b>
                                    <br/> rating: <b>{{rating}}</b>
                                    {{/with}}
                                </div>
                            {{/with}}
                        </div>
                       <br/>
                       


                </li>
                {{/each}}
            </ul>
        {{/with}}
    </div>
    </section>
    {{/with}}

</div>