<div>
    {{#with navigation}}
    <nav class="nav">
        {{#each links}}
            <div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={{href}}>{{text}}</a>
                    </li>
                </ul>
            </div>
        {{/each}}
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </nav>
    {{/with}}

    {{#with newsBlock}}
        <h1 class="mt-5 mb-3 text-center">{{title}}</h1>
         {{>shoppost}}
    {{/with}}
    <hr/>
    {{#with goodsBlock}}
    <div class="row g-4 mb-3">
        <ul class="nav nav-tabs">
            {{#each tabs}}
        
            <li class="nav-item">
                {{#if isActive}}
                <a class="nav-link active" aria-current="page" href="#">
                        {{text}}
                </a>
                {{else}}
                    <a class="nav-link" href="#">{{text}}</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
       {{>shopcard}}
    {{/with}}
    <hr/>
    <div class="card text-bg-dark mb-3 mt-3">
        <div class="col-12">
            {{#with subscribe}}
           <div class="card-header">
            <p class="h2">{{header}}</p>
            <div class="card-body">
                <p class="card-text">{{description}}</p>
                
            {{#each buttons}}
                <div class="nav nav-flex-column pt-2">
                    <a href={{link}} class="btn btn-primary">{{text}}</a>
                </div>
            {{/each}}
            </div>
           </div>
           {{/with}}
        </div>
    </div>
    <hr/>
    <div>
        {{>shopaction}}
    </div>
    {{>shopfooter}}
